<section class="slideshow">
{{#each products}}

      <div class="slideshow-slide">
        <div class="slideshow-content">
          <h2>{{dataValues.product_name}}</h2>
          <p>
            {{dataValues.description}}
          </p>
          <p><label>Condition: </label> {{dataValues.condition}}</p>
          <p style="color: green"><label style="color: black">Price: $</label> {{dataValues.price}}</p>
          <p><label>Location: </label> {{dataValues.location}}</p>
        </div>
        <img src="{{dataValues.image}}" />
      </div>

{{!-- <div> --}}
    {{!-- <img src="{{dataValues.image}}"/> --}}
    {{!-- <h1>{{dataValues.product_name}}</h1>
    <h1>{{dataValues.description}}</h1>
    <h1>{{dataValues.price}}</h1>
    <h1>{{dataValues.condition}}</h1>
    <h1>{{dataValues.location}}</h1>
    <h1>{{dataValues.user}}</h1> --}}
{{!-- </div> --}}

{{/each}}
</section>