<section class="container-fluid">
  <div class="row">
{{#each products}}


  
<div class="rcontainer card col-sm-6 col-md-4 col-lg-3 " >
  <div class="width">
  <img class="card-img-top" src="{{dataValues.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{dataValues.product_name}}</h5>
    <p class="card-text">{{dataValues.description}}</p>
    <a href="/product/{{dataValues.id}}" class="btn btn-primary">Go somewhere</a>
  </div>
  
 </div>
</div>

{{!-- <div> --}}
    {{!-- <img src="{{dataValues.image}}"/> --}}
    {{!-- <h1>{{dataValues.product_name}}</h1>
    <h1>{{dataValues.description}}</h1>
    <h1>{{dataValues.price}}</h1>
    <h1>{{dataValues.condition}}</h1>
    <h1>{{dataValues.location}}</h1>
    <h1>{{dataValues.user}}</h1> --}}
{{!-- </div> --}}

{{/each}}
</div>
</section>