	<div class="container1">
		<div class="card1">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="{{prod.image}}"/></div>
						  <div class="tab-pane" id="pic-2"><img src="{{prod.image}}"/></div>
						  <div class="tab-pane" id="pic-3"><img src="{{prod.image}}"/></div>
						  <div class="tab-pane" id="pic-4"><img src="{{prod.image}}"/></div>
						  <div class="tab-pane" id="pic-5"><img src="{{prod.image}}"/></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{prod.image}}"/></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="{{prod.image}}"/></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="{{prod.image}}"/></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="{{prod.image}}"/></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img src="{{prod.image}}"/></a></li>
						</ul>
						
					</div>
					<div class="details col-md-6">
                       
						<h3 class="product-title">{{prod.product_name}}</h3>
						<div class="rating">
							<div class="stars">
							</div>
							<h4 class="">{{prod.description}}</h4>
						</div>
						<h4 class="price">Current Price: <span>${{prod.price}}</span></h4>
						<h4 class="vote"><strong>PRODUCT CONDITION: </strong>{{prod.condition}}</h4>
            <h4 class="product-title">Seller: <a href="/user/{{prod.user_id}}">{{prod.user}}</a></h4>
						<h4 class="sizes">Location:
							<span class="size" data-toggle="tooltip" title="small">{{prod.location}}</span>
						</h4>
						<div class="action">
							<a href="mailto:{{prod.email}}" class="add-to-cart btn btn-danger" type="button">Contact User</a>
						</div>
						{{#if isUser}}
						<div  style="padding-top: 3%">
							<button id="delete" class="btn btn-danger btn-lg">Delete</button>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="/assets/js/delete.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>