
<div>
    {{!-- {{#each product}} --}}
    <img src="{{prod.image}}"/>
    <h1>{{prod.product_name}}</h1>
    <h1>{{prod.description}}</h1>
    <h1>{{prod.price}}</h1>
    <h1>{{prod.condition}}</h1>
    <h1>{{prod.location}}</h1>
    <h1>{{prod.user}}</h1>
    {{!-- {{/each}} --}}
</div>

