<!-- User profile/sidebar -->
<div class='wrapper'>
  <div class="col-sm-3 col-md-2 sidebar"> 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">User profile</h4>
      </div>
        <div class="panel-body">
          <div class="profile__avatar">
            <img src="https://mvp.microsoft.com/en-us/PublicProfile/Photo/10108" alt="...">
          </div>
            <div class="profile__header">
              <h4>Tester123</h4>
              <p class="text-muted">
                Averate User Rating: 4.4 Stars
              </p>
            </div>
        </div>  
    </div>
<!-- Raiting -->
    <div class="login-form">
    <div class="inputs-group">
      <hr class="profile__contact-hr">
         
        <div class="contact">
            <form class="login-form create-form" id="comment-form">
              <div class="inputs-group">
                <input type="text" class="inputs-group" id="comment" placeholder="Leave comment about seller" />
              </div>
              <div class="inputs-group">
                <li class="second-nav-item ltr">
                  <a href="#" class="second-nav-link"></a>
                  <span class="rating">
                    <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1" value="5">
                    <label for="rating-input-1-5" class="rating-star"></label>
                    <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1" value="4">
                    <label for="rating-input-1-4" class="rating-star"></label>
                    <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1" value="3">
                    <label for="rating-input-1-3" class="rating-star"></label>
                    <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1" value="2">
                    <label for="rating-input-1-2" class="rating-star"></label>
                    <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1" value="1">
                    <label for="rating-input-1-1" class="rating-star"></label>
                  </span>

                </li>
              </div>

              <div class="inputs-group">
                <input type="submit" class="inputs-group-btn" value="Submit" />
              </div>
            </form>
          </div>
    </div>
<!-- Latest posts -->
    <div class="contact" id="log-in-form">
    <form class="login-form">
    <div class="inputs-group">

      <h4 class="panel-title">Latest Ratings</h4>
    </div>
    {{#each rating}}
    <div class="panel-body">
      <div class="profile__comments">
        <div class="profile-comments__item">

          <div class="profile-comments__avatar">
            <img src="https://mvp.microsoft.com/en-us/PublicProfile/Photo/10108" alt="...">
          </div>
          <div class="profile-comments__body">
            <h5 class="profile-comments__sender">
              {{dataValues.rater}} <small>2 hours ago</small>
            </h5>
            <div class="profile-comments__content">
              {{dataValues.rating_comment}}
            </div>
            <div class="profile-comments__content">
              Rating: {{dataValues.rating_value}}
            </div>
            </div>
          </div>
           </div>
    {{/each}}
        </div>
      </form>
      </div>
    </form>
    </div>
      <section class="container-fluid">
        <div class="row main">
        
      {{#each products}}
      <a href="/product/{{dataValues.id}}"class="carda">

      <div class="rcontainer card" >
        <div class="width">
        <img class="card-img-top" src="{{dataValues.image}}" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="cardtitle">{{dataValues.product_name}}</h5>
          <p class="cardtext">{{dataValues.description}}</p>
          {{!-- <a href="/product/{{dataValues.id}}"class="btn1 btn-pro1">See Details</a> --}}
        </div>
      </div>
      {{/each}}
        </div>
      </section>  
    </div>
  </div>
</div>